<nav class="px-6 bg-grey relative shadow-md">
  <div class="flex flex-row justify-between items-center py-2">
    <!--Brand-->
    <h3 class="font-semibold text-3xl text-light text-stroke">Ezequiel Omar</h3>
    <div class="group flex flex-col items-center align-middle">
      <!--Hamburguer Menu Button-->
      <button class="p-2 rounded-lg md:hidden">
        <i-feather name="menu"></i-feather>
      </button>
      <!--Main Nav-->
      <div class="hidden bg-grey group-hover:block md:block absolute md:static inset-x-0 top-16 py-3 shadow-md
         md:shadow-none">
        <div class="flex flex-row justify-center items-center text-center font-semibold text-dark">
          <a class="px-4 py-1 flex flex-col md:flex-row md:items-center"
            href="https://www.linkedin.com/in/ezequiel-omar-vazquez/" target="_blank">
            <i-feather name="linkedin"></i-feather>
          </a>
          <a class="px-4 py-1 flex flex-col md:flex-row md:items-center" href="https://github.com/EzequielOmar"
            target="_blank">
            <i-feather name="github"></i-feather>
          </a>
          <a class="px-6 py-1 flex flex-col md:flex-row md:items-center" href="#contact">
            {{'menu.contact' | translate}}
            <i-feather name="arrow-down-right"></i-feather>
          </a>
          <button *ngIf="lang!='en'" class="px-1" (click)="changeLanguage('en')">en</button>
          <button *ngIf="lang!='es'" class="px-1" (click)="changeLanguage('es')">es</button>
        </div>
      </div>
    </div>
  </div>
</nav>
