<nav class="px-6 bg-dark relative shadow-md">
  <div class="flex flex-row justify-between items-center py-2">
    <h3 class="font-semibold text-3xl text-light">Ezequiel Omar</h3>
    <div class="group flex flex-col items-center">
      <button class="p-2 rounded-lg md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-10 fill-current" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div
        class="hidden bg-dark group-hover:block md:block absolute md:static inset-x-0 top-16 py-3 shadow-md md:shadow-none">
        <div class="flex flex-row justify-center items-center text-center font-semibold text-light">
          <a class="px-4 py-1 flex flex-col md:flex-row md:items-center" href="#">
            <i-feather name="linkedin"></i-feather>
          </a>
          <a class="px-4 py-1 flex flex-col md:flex-row md:items-center" href="#">
            <i-feather name="github"></i-feather>
          </a>
          <a class="px-6 py-1 flex flex-col md:flex-row md:items-center" href="#">
            {{'menu.contact' | translate}}
            <i-feather name="arrow-down-right"></i-feather>
          </a>
          <button *ngIf="lang!='en'" class="px-1" (click)="changeLanguage('en')">en</button>
          <button *ngIf="lang!='es'" class="px-1" (click)="changeLanguage('es')">es</button>
        </div>
      </div>
    </div>
  </div>
</nav>
